openapi: 3.0.1
info:
  title: GMO Aozora Net Bank Open API
  description: |
    <p>オープンAPI仕様書（PDF版）は下記リンクをご参照ください</p>
    <div>
      <div style='display:inline-block;'><a style='text-decoration:none; font-weight:bold; color:#00b8d4;' href='https://gmo-aozora.com/business/service/api-specification.html' target='_blank'>オープンAPI仕様書</a></div><div style='display:inline-block; margin-left:2px; left:2px; width:10px; height:10px; border-top:2px solid #00b8d4; border-right:2px solid #00b8d4; transparent;-webkit-transform:rotate(45deg); transform: rotate(45deg);'></div>
    </div>
    <h4 style='margin-top:30px; border-left: solid 4px #1B2F48; padding: 0.1em 0.5em; color:#1B2F48;'>共通仕様</h4>
    <div style='width:100%; margin:10px;'>
      <p style='font-weight:bold; color:#616161;'>＜HTTPリクエストヘッダ＞</p>
      <div style='display:table; margin-left:10px; background-color:#29659b;'>
        <div style='display:table-cell; min-width:130px; padding:9px; border:1px solid #fff; color:#fff;'>項目</div>
        <div style='display:table-cell; width:85%; padding:9px; border:1px solid #fff; color:#fff;'>仕様</div>
      </div>
      <div style='display:table; margin-left:10px;'>
        <div style='display:table-cell; min-width:130px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>プロトコル</div>
        <div style='display:table-cell; width:85%; padding:9px; border:1px solid #fff; background-color:#f8f8f8;'>HTTP1.1/HTTPS</div>
      </div>
      <div style='display:table; margin-left:10px;'>
        <div style='display:table-cell; min-width:130px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>charset</div>
        <div style='display:table-cell; width:85%; padding:9px; border:1px solid #fff; background-color:#f8f8f8;'>UTF-8</div>
      </div>
      <div style='display:table; margin-left:10px;'>
        <div style='display:table-cell; min-width:130px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>content-type</div>
        <div style='display:table-cell; width:85%; padding:9px; border:1px solid #fff; background-color:#f8f8f8;'>application/json</div>
      </div>
      <div style='display:table; margin-left:10px;'>
        <div style='display:table-cell; min-width:130px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>domain_name</div>
        <div style='display:table-cell; width:85%; padding:9px; border:1px solid #fff; background-color:#f8f8f8;'>
          本番環境：api.gmo-aozora.com</br>
          開発環境：stg-api.gmo-aozora.com
        </div>
      </div>
      <div style='display:table; margin-left:10px;'>
        <div style='display:table-cell; min-width:130px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>メインURL</div>
        <div style='display:table-cell; width:85%; padding:9px; border:1px solid #fff; background-color:#f8f8f8;'>
          https://{domain_name}/ganb/api/corporation/{version}</br>
          <span style='border-bottom:solid 1px;'>Version:1.x.x</span> の場合</br>
          　https://api.gmo-aozora.com/ganb/api/corporation/<span style='border-bottom:solid 1px;'>v1</span>
        </div>
      </div>
    </div>
    <div style='margin:20px 10px;'>
      <p style='font-weight:bold; color:#616161;'>＜リクエスト共通仕様＞</p>
      <p style='padding-left:20px; font-weight:bold; color:#616161;'>NULLデータの扱い</p>
      <p style='padding-left:40px;'>パラメータの値が空の場合、またはパラメータ自体が設定されていない場合、どちらもNULLとして扱います</p>
    </div>
    <div style='margin:20px 10px;'>
      <p style='font-weight:bold; color:#616161;'>＜レスポンス共通仕様＞</p>
      <p style='padding-left:20px; font-weight:bold; color:#616161;'>NULLデータの扱い</p>
      <ul>
        <li>レスポンスデータ</li>
          <ul>
            <li style='list-style-type:none;'>レスポンスデータの値が空の場合または、レスポンスデータ自体が設定されない場合は「項目自体を設定しません」と記載</li>
          </ul>
        <li>配列</li>
          <ul>
            <li style='list-style-type:none;'>配列の要素の値が空の場合は「空のリスト」と記載</li>
            <li style='list-style-type:none;'>配列自体が設定されない場合は「項目自体を設定しません」と記載</li>
          </ul>
      </ul>
    </div>
    <div style='margin:20px 10px;'>
      <p style='font-weight:bold; color:#616161;'>＜更新系APIに関する注意事項＞</p>
      <ul>
        <li style='list-style-type:none;'>更新系処理がタイムアウトとなった場合、処理自体は実行されている可能性がありますので、</li>
        <li style='list-style-type:none;'>再実行を行う必要がある場合は必ず照会系の処理で実行状況を確認してから再実行を行ってください</li>
      </ul>
    </div>
  version: 1.1.12
servers:
- url: https://stg-api.gmo-aozora.com/ganb/api/corporation/v1
tags:
- name: account
  description: 口座
- name: transfer
  description: 振込・振替
- name: bulk-transfer
  description: 総合振込
- name: virtual-account
  description: 振込入金口座
paths:
  /accounts:
    get:
      tags:
      - account
      summary: 口座一覧照会
      description: 保有する全ての口座情報一覧を照会します
      operationId: accountsUsingGET
      parameters:
      - name: x-access-token
        in: header
        description: |
          アクセストークン

          minLength: 1
          maxLength: 128
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-exportParamName: XAccessToken
        x-exportParamName: XAccessToken
      responses:
        "200":
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/AccountsResponse'
        "400":
          description: Bad Request
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not found
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "405":
          description: Method Not Allowed
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "406":
          description: Not Acceptable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "411":
          description: Length Required
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "412":
          description: Precondition Failed
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "415":
          description: Unsupported media type
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "503":
          description: Service Unavailable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "504":
          description: Gateway Timeout
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
      x-code-samples:
      - lang: cURL
        source: |
          curl -X GET \
            https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts \
            -H 'accept: application/json;charset=UTF-8' \
            -H 'x-access-token: your access token'
      - lang: Ruby
        source: |
          require 'uri'
          require 'net/http'

          url = URI("https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Get.new(url)
          request["x-access-token"] = 'your access token'
          request["accept"] = 'application/json;charset=UTF-8'

          response = http.request(request)
          puts response.read_body
      - lang: Python
        source: |
          import http.client

          conn = http.client.HTTPSConnection("api.gmo-aozora.com")

          headers = {
              'x-access-token': "your access token",
              'accept': "application/json;charset=UTF-8"
              }

          conn.request("GET", "/ganb/api/simulator/corporation/v1/accounts", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
            CURLOPT_URL => "https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts",
            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "GET",
            CURLOPT_HTTPHEADER => array(
              "accept: application/json;charset=UTF-8",
              "x-access-token: your access token"
            ),
          ));

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Java
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
            .url("https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts")
            .get()
            .addHeader("x-access-token", "your access token")
            .addHeader("accept", "application/json;charset=UTF-8")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Node
        source: "var request = require(\"request\");\n\nvar options = { method: 'GET',\n\
          \  url: 'https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts',\n\
          \  headers: \n   { accept: 'application/json;charset=UTF-8',\n     'x-access-token':\
          \ 'your access token' } };\n\nrequest(options, function (error, response,\
          \ body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n\
          });\n"
      - lang: Go
        source: |
          package main

          import (
            "fmt"
            "net/http"
            "io/ioutil"
          )

          func main() {

            url := "https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts"

            req, _ := http.NewRequest("GET", url, nil)

            req.Header.Add("x-access-token", "your access token")
            req.Header.Add("accept", "application/json;charset=UTF-8")

            res, _ := http.DefaultClient.Do(req)

            defer res.Body.Close()
            body, _ := ioutil.ReadAll(res.Body)

            fmt.Println(res)
            fmt.Println(string(body))

          }
      - lang: Swift
        source: |
          import Foundation

          let headers = [
            "x-access-token": "your access token",
            "accept": "application/json;charset=UTF-8"
          ]

          let request = NSMutableURLRequest(url: NSURL(string: "https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts")! as URL,
                                                  cachePolicy: .useProtocolCachePolicy,
                                              timeoutInterval: 10.0)
          request.httpMethod = "GET"
          request.allHTTPHeaderFields = headers

          let session = URLSession.shared
          let dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response,error) -> Void in
            if (error != nil) {
              print(error)
            } else {
              let httpResponse = response as? HTTPURLResponse
              print(httpResponse)
            }
          })

          dataTask.resume()
  /accounts/balances:
    get:
      tags:
      - account
      summary: 残高照会
      description: |
        保有する口座の残高情報を照会します
        口座IDを指定した場合、該当する口座の残高情報を照会します
        口座IDを指定しない場合、保有する口座全ての残高情報を照会します
      operationId: balancesUsingGET
      parameters:
      - name: accountId
        in: query
        description: |
          口座ID
          口座を識別するID

          minLength: 12
          maxLength: 29
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: string
          x-exportParamName: AccountId
          x-optionalDataType: String
        example: "101011234567"
        x-exportParamName: AccountId
        x-optionalDataType: String
      - name: x-access-token
        in: header
        description: |
          アクセストークン

          minLength: 1
          maxLength: 128
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-exportParamName: XAccessToken
        x-exportParamName: XAccessToken
      responses:
        "200":
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/BalancesResponse'
        "400":
          description: Bad Request
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not found
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "405":
          description: Method Not Allowed
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "406":
          description: Not Acceptable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "411":
          description: Length Required
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "412":
          description: Precondition Failed
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "415":
          description: Unsupported media type
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "503":
          description: Service Unavailable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "504":
          description: Gateway Timeout
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
      x-code-samples:
      - lang: cURL
        source: |
          curl -X GET \
            'https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/balances?accountId=301011000192' \
            -H 'accept: application/json;charset=UTF-8' \
            -H 'x-access-token: your access token'
      - lang: Ruby
        source: |
          require 'uri'
          require 'net/http'

          url = URI("https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/balances?accountId=301011000192")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Get.new(url)
          request["x-access-token"] = 'your access token'
          request["accept"] = 'application/json;charset=UTF-8'

          response = http.request(request)
          puts response.read_body
      - lang: Python
        source: |
          import http.client

          conn = http.client.HTTPSConnection("api.gmo-aozora.com")

          headers = {
              'x-access-token': "your access token",
              'accept': "application/json;charset=UTF-8"
              }

          conn.request("GET", "/ganb/api/simulator/corporation/v1/accounts/balances?accountId=301011000192", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
            CURLOPT_URL => "https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/balances?accountId=301011000192",
            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "GET",
            CURLOPT_HTTPHEADER => array(
              "accept: application/json;charset=UTF-8",
              "x-access-token: your access token"
            ),
          ));

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Java
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
            .url("https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/balances?accountId=301011000192")
            .get()
            .addHeader("x-access-token", "your access token")
            .addHeader("accept", "application/json;charset=UTF-8")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Node
        source: "var request = require(\"request\");\n\nvar options = { method: 'GET',\n\
          \  url: 'https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/balances',\n\
          \  qs: { accountId: '301011000192' },\n  headers: \n   { accept: 'application/json;charset=UTF-8',\n\
          \     'x-access-token': 'your access token' } };\n\nrequest(options, function\
          \ (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n\
          });\n"
      - lang: Go
        source: |
          package main

          import (
            "fmt"
            "net/http"
            "io/ioutil"
          )

          func main() {

            url := "https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/balances?accountId=301011000192"

            req, _ := http.NewRequest("GET", url, nil)

            req.Header.Add("x-access-token", "your access token")
            req.Header.Add("accept", "application/json;charset=UTF-8")

            res, _ := http.DefaultClient.Do(req)

            defer res.Body.Close()
            body, _ := ioutil.ReadAll(res.Body)

            fmt.Println(res)
            fmt.Println(string(body))

          }
      - lang: Swift
        source: |
          import Foundation

          let headers = [
            "x-access-token": "your access token",
            "accept": "application/json;charset=UTF-8"
          ]

          let request = NSMutableURLRequest(url: NSURL(string: "https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/balances?accountId=301011000192")! as URL,
                                                  cachePolicy: .useProtocolCachePolicy,
                                              timeoutInterval: 10.0)
          request.httpMethod = "GET"
          request.allHTTPHeaderFields = headers

          let session = URLSession.shared
          let dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in
            if (error != nil) {
              print(error)
            } else {
              let httpResponse = response as? HTTPURLResponse
              print(httpResponse)
            }
          })

          dataTask.resume()
  /accounts/transactions:
    get:
      tags:
      - account
      summary: 入出金明細照会
      description: |
        <p>指定した円普通預金口座の入出金明細情報を照会します</p>
        <h4 style='margin-top:30px; border-left: solid 4px #1B2F48; padding: 0.1em 0.5em; color:#1B2F48;'>詳細説明</h4>
        <div style='margin:10px;'>
          <p style='font-weight:bold; color:#616161;'>対象科目</p>
          <p style='padding-left:20px;'>円普通預金口座</p>
        </div>
        <div style='margin:10px;'>
          <p style='font-weight:bold; color:#616161;'>取得上限件数</p>
          <p style='padding-left:20px;'>500件</p>
          <p style='padding-left:20px;'>取得できる明細数が500に満たないときは取得できる明細のみを返却します</p>
          <p style='padding-left:20px;'>取得できる明細が存在しない場合は「200：OK」とし明細を返却しません</p>
        </div>
        <div style='margin:10px;'>
          <p style='font-weight:bold; color:#616161;'>ページング</p>
          <p style='padding-left:20px;'>2ページ目以降を照会する際は、初回と同じリクエスト内容に、初回レスポンスの次明細キーを追加してリクエストしてください</p>
        </div>
        <div style='margin:10px;'>
          <p style='font-weight:bold; color:#616161;'>ソート順</p>
          <p style='padding-left:20px;'>取引の昇順</p>
        </div>
        <div style='width:600px; margin:10px;'>
          <p style='font-weight:bold; color:#616161;'>対象期間</p>
          <div style='display:table; margin-left:20px; background-color:#29659b;'>
            <div style='display:table-cell; width:160px; padding:9px; border:1px solid #fff; color:#fff;'>日本語名</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9312;</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9313;</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9314;</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9315;</div>
          </div>
          <div style='display:table; margin-left:20px;'>
            <div style='display:table-cell; width:160px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>対象期間From</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
          </div>
          <div style='display:table; margin-left:20px;'>
            <div style='display:table-cell; width:160px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>対象期間To</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
          </div>
        </div>
        <div style='margin:10px;'>
          <ul>
            <li style='list-style-type:none;'>&#9312;の場合　当日分の入出金明細を返却</li>
            <li style='list-style-type:none;'>&#9313;の場合　対象期間From　～　当日までの入出金明細を返却</li>
            <li style='list-style-type:none;'>&#9314;の場合　取引初回　～　対象期間Toまでの入出金明細を返却</li>
            <li style='list-style-type:none;'>&#9315;の場合　対象期間From　～　対象期間Toまでの入出金明細を返却</li>
          </ul>
        </div> <div style='margin-bottom:40px;' />
      operationId: transactionsUsingGET
      parameters:
      - name: accountId
        in: query
        description: |
          口座ID
          半角英数字
          口座を識別するID
          科目コードが以下の場合のみ受け付けます
          ・01=普通預金（有利息）
          ・02=普通預金（決済用）

          minLength: 12
          maxLength: 29
        required: true
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: string
          x-exportParamName: AccountId
        example: "101011234567"
        x-exportParamName: AccountId
      - name: dateFrom
        in: query
        description: |
          対象期間From
          半角文字
          YYYY-MM-DD形式

          minLength: 10
          maxLength: 10
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: string
          x-exportParamName: DateFrom
          x-optionalDataType: String
        example: 2018-07-30
        x-exportParamName: DateFrom
        x-optionalDataType: String
      - name: dateTo
        in: query
        description: |
          対象期間To
          半角文字
          YYYY-MM-DD形式
          対象期間Fromと対象期間Toを指定する場合は、対象期間From≦対象期間Toとし、それ以外は「400 Bad Request」を返却

          minLength: 10
          maxLength: 10
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: string
          x-exportParamName: DateTo
          x-optionalDataType: String
        example: 2018-08-10
        x-exportParamName: DateTo
        x-optionalDataType: String
      - name: nextItemKey
        in: query
        description: |
          次明細キー
          半角数字
          初回要求時は未設定
          初回応答で次明細キーが「true」の場合、返却された同項目を2回目以降に設定

          minLength: 1
          maxLength: 24
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: string
          x-exportParamName: NextItemKey
          x-optionalDataType: String
        example: "20181012090520112541"
        x-exportParamName: NextItemKey
        x-optionalDataType: String
      - name: x-access-token
        in: header
        description: "アクセストークン\n\nminLength: 1\nmaxLength: 128           \n"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-exportParamName: XAccessToken
        x-exportParamName: XAccessToken
      responses:
        "200":
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        "400":
          description: Bad Request
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not found
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "405":
          description: Method Not Allowed
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "406":
          description: Not Acceptable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "411":
          description: Length Required
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "412":
          description: Precondition Failed
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "415":
          description: Unsupported media type
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "503":
          description: Service Unavailable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "504":
          description: Gateway Timeout
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
      x-code-samples:
      - lang: cURL
        source: |
          curl -X GET \
            'https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/transactions?accountId=301011000192&dateFrom=2018-07-30&dateTo=2018-12-31' \
            -H 'accept: application/json;charset=UTF-8' \
            -H 'x-access-token: your access token'
      - lang: Ruby
        source: |
          require 'uri'
          require 'net/http'

          url = URI("https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/transactions?accountId=301011000192&dateFrom=2018-07-30&dateTo=2018-12-31")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Get.new(url)
          request["x-access-token"] = 'your access token'
          request["accept"] = 'application/json;charset=UTF-8'

          response = http.request(request)
          puts response.read_body
      - lang: Python
        source: |
          import http.client

          conn = http.client.HTTPSConnection("api.gmo-aozora.com")

          headers = {
              'x-access-token': "your access token",
              'accept': "application/json;charset=UTF-8"
              }

          conn.request("GET", "/ganb/api/simulator/corporation/v1/accounts/transactions?accountId=301011000192&dateFrom=2018-07-30&dateTo=2018-12-31", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
            CURLOPT_URL => "https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/transactions?accountId=301011000192&dateFrom=2018-07-30&dateTo=2018-12-31",
            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "GET",
            CURLOPT_HTTPHEADER => array(
              "accept: application/json;charset=UTF-8",
              "x-access-token: your access token"
            ),
          ));

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Java
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
            .url("https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/transactions?accountId=301011000192&dateFrom=2018-07-30&dateTo=2018-12-31")
            .get()
            .addHeader("x-access-token", "your access token")
            .addHeader("accept", "application/json;charset=UTF-8")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Node
        source: "var request = require(\"request\");\n\nvar options = { method: 'GET',\n\
          \  url: 'https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/transactions',\n\
          \  qs: \n   { accountId: '301011000192',\n     dateFrom: '2018-07-30',\n\
          \     dateTo: '2018-12-31' },\n  headers: \n   { accept: 'application/json;charset=UTF-8',\n\
          \     'x-access-token': 'your access token' } };\n\nrequest(options, function\
          \ (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n\
          });\n"
      - lang: Go
        source: |
          package main

          import (
            "fmt"
            "net/http"
            "io/ioutil"
          )

          func main() {

            url := "https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/transactions?accountId=301011000192&dateFrom=2018-07-30&dateTo=2018-12-31"

            req, _ := http.NewRequest("GET", url, nil)

            req.Header.Add("x-access-token", "your access token")
            req.Header.Add("accept", "application/json;charset=UTF-8")

            res, _ := http.DefaultClient.Do(req)

            defer res.Body.Close()
            body, _ := ioutil.ReadAll(res.Body)

            fmt.Println(res)
            fmt.Println(string(body))

          }
      - lang: Swift
        source: |
          import Foundation

          let headers = [
            "x-access-token": "your access token",
            "accept": "application/json;charset=UTF-8"
          ]

          let request = NSMutableURLRequest(url: NSURL(string: "https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/transactions?accountId=301011000192&dateFrom=2018-07-30&dateTo=2018-12-31")! as URL,
                                                  cachePolicy: .useProtocolCachePolicy,
                                              timeoutInterval: 10.0)
          request.httpMethod = "GET"
          request.allHTTPHeaderFields = headers

          let session = URLSession.shared
          let dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in
            if (error != nil) {
              print(error)
            } else {
              let httpResponse = response as? HTTPURLResponse
              print(httpResponse)
            }
          })

          dataTask.resume()
  /accounts/deposit-transactions:
    get:
      tags:
      - account
      summary: 振込入金明細照会
      description: |
        <p>指定した円普通預金口座の振込入金明細情報を照会します</p>
        <h4 style='margin-top:30px; border-left: solid 4px #1B2F48; padding: 0.1em 0.5em; color:#1B2F48;'>詳細説明</h4>
        <div style='margin:10px;'>
          <p style='font-weight:bold; color:#616161;'>対象科目</p>
          <p style='padding-left:20px;'>円普通預金口座</p>
        </div>
        <div style='margin:10px;'>
          <p style='font-weight:bold; color:#616161;'>取得上限件数</p>
          <p style='padding-left:20px;'>500件</p>
          <p style='padding-left:20px;'>取得できる明細数が500に満たないときは取得できる明細のみを返却します</p>
          <p style='padding-left:20px;'>取得できる明細が存在しない場合は「200：OK」とし明細を返却しません</p>
        </div>
        <div style='margin:10px;'>
          <p style='font-weight:bold; color:#616161;'>ページング</p>
          <p style='padding-left:20px;'>2ページ目以降を照会する際は、初回と同じリクエスト内容に、初回レスポンスの次明細キーを追加してリクエストしてください</p>
        </div>
        <div style='margin:10px;'>
          <p style='font-weight:bold; color:#616161;'>ソート順</p>
          <p style='padding-left:20px;'>取引の昇順</p>
        </div>
        <div style='width:600px; margin:10px;'>
          <p style='font-weight:bold; color:#616161;'>対象期間</p>
          <div style='display:table; margin-left:20px; background-color:#29659b;'>
            <div style='display:table-cell; width:160px; padding:9px; border:1px solid #fff; color:#fff;'>日本語名</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9312;</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9313;</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9314;</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9315;</div>
          </div>
          <div style='display:table; margin-left:20px;'>
            <div style='display:table-cell; width:160px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>対象期間From</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
          </div>
          <div style='display:table; margin-left:20px;'>
            <div style='display:table-cell; width:160px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>対象期間To</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
          </div>
        </div>
        <div style='margin:10px;'>
          <ul>
            <li style='list-style-type:none;'>&#9312;の場合　当日分の振込入金明細を返却</li>
            <li style='list-style-type:none;'>&#9313;の場合　対象期間From　～　当日までの振込入金明細を返却</li>
            <li style='list-style-type:none;'>&#9314;の場合　取引初回　～　対象期間Toまでの振込入金明細を返却</li>
            <li style='list-style-type:none;'>&#9315;の場合　対象期間From　～　対象期間Toまでの振込入金明細を返却</li>
          </ul>
        </div> <div style='margin-bottom:40px;' />
      operationId: accountsDepositTransactionsUsingGET
      parameters:
      - name: accountId
        in: query
        description: |
          口座ID
          半角数字
          口座を識別するID

          minLength: 12
          maxLength: 29
        required: true
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: string
          x-exportParamName: AccountId
        example: "101011234567"
        x-exportParamName: AccountId
      - name: dateFrom
        in: query
        description: |
          対象期間From
          半角文字
          YYYY-MM-DD形式

          minLength: 10
          maxLength: 10
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: string
          x-exportParamName: DateFrom
          x-optionalDataType: String
        example: 2018-07-30
        x-exportParamName: DateFrom
        x-optionalDataType: String
      - name: dateTo
        in: query
        description: |
          対象期間To
          半角文字
          YYYY-MM-DD形式
           対象期間Fromと対象期間Toを指定する場合は、対象期間From≦対象期間Toとし、それ以外は「400 Bad Request」を返却

          minLength: 10
          maxLength: 10
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: string
          x-exportParamName: DateTo
          x-optionalDataType: String
        example: 2018-08-10
        x-exportParamName: DateTo
        x-optionalDataType: String
      - name: nextItemKey
        in: query
        description: |
          次明細キー
          半角数字
          初回要求時は未設定
          初回応答で次明細フラグが「true」の場合、返却された同項目を2回目以降に設定

          minLength: 1
          maxLength: 24
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: string
          x-exportParamName: NextItemKey
          x-optionalDataType: String
        example: "20181012090520123456"
        x-exportParamName: NextItemKey
        x-optionalDataType: String
      - name: x-access-token
        in: header
        description: |
          アクセストークン

          minLength: 1
          maxLength: 128
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-exportParamName: XAccessToken
        x-exportParamName: XAccessToken
      responses:
        "200":
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/DepositTransactionsResponse'
            application/json:
              example:
                accountId: "101011234567"
                dateFrom: 2018-07-30
                dateTo: 2018-08-10
                baseDate: 2018-08-10
                baseTime: 10:00:00+09:00
                hasNext: true
                nextItemKey: "20181012090520112541"
                count: "500"
                paymentArrivals:
                - transactionDate: 2018-07-30
                  valueDate: 2018-07-30
                  transactionType: "1"
                  remarks: 振込 ｾｲｷﾕｳｼﾖﾊﾞﾝｺﾞｳ123 アオゾラショウジ（カ
                  amount: "50000"
                  applicantName: ｱｵｿﾞﾗｼﾖｳｼﾞ(ｶ
                  paymentBankName: ｱｵｿﾞﾗｷﾞﾝｺｳ
                  paymentBranchName: ﾎﾝﾃﾝ
                  ediInfo: ｾｲｷﾕｳｼﾖﾊﾞﾝｺﾞｳ123
                  itemKey: "20181012090520123456"
                - transactionDate: 2018-07-31
                  valueDate: 2018-07-31
                  transactionType: "1"
                  remarks: 振込 ｲ-ﾃﾞ-ｱｲ テスト　タロウ あじさい支店 1036971
                  amount: "10000"
                  applicantName: ﾃｽﾄ ﾀﾛｳ
                  paymentBankName: ﾎｼｿﾞﾗｷﾞﾝｺｳ
                  paymentBranchName: ｴｲｷﾞﾖｳﾌﾞ
                  ediInfo: ｲ-ﾃﾞ-ｱｲ
                  itemKey: "20181012090520112541"
        "400":
          description: Bad Request
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not found
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "405":
          description: Method Not Allowed
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "406":
          description: Not Acceptable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "411":
          description: Length Required
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "412":
          description: Precondition Failed
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "415":
          description: Unsupported media type
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "503":
          description: Service Unavailable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "504":
          description: Gateway Timeout
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
      x-code-samples:
      - lang: cURL
        source: |
          curl -X GET \'https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/deposit-transactions?accountId=101011234567&dateFrom=2018-07-30&dateTo=2018-08-01&nextItemKey=20181012090520123456' \
            -H 'Accept: application/json;charset=UTF-8' \
            -H 'x-access-token: your access token'
      - lang: Ruby
        source: |
          require 'uri'
          require 'net/http'

          url = URI("https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/deposit-transactions?accountId=101011234567&dateFrom=2018-07-30&dateTo=2018-08-01&nextItemKey=20181012090520123456")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Get.new(url)
          request["Accept"] = 'application/json;charset=UTF-8'
          request["x-access-token"] = 'your access token'

          response = http.request(request)
          puts response.read_body
      - lang: Python
        source: |
          import http.client

          conn = http.client.HTTPConnection("stg-api,gmo-aozora,com")

          headers = {
              'Accept': "application/json;charset=UTF-8",
              'x-access-token': "your access token"
              }

          conn.request("GET", "ganb/api/corporation/v1/accounts/deposit-transactions?accountId=101011234567&dateFrom=2018-07-30&dateTo=2018-08-01&nextItemKey=20181012090520123456", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: PHP
        source: |-
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
            CURLOPT_URL => "https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/deposit-transactions?accountId=101011234567&dateFrom=2018-07-30&dateTo=2018-08-01&nextItemKey=20181012090520123456",

            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "GET",
            CURLOPT_HTTPHEADER => array(
              "Accept: application/json;charset=UTF-8",
              "x-access-token: your access token"
            ),
          ));

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Java
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
            .url("https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/deposit-transactions?accountId=101011234567&dateFrom=2018-07-30&dateTo=2018-08-01&nextItemKey=20181012090520123456")
            .get()
            .addHeader("Accept", "application/json;charset=UTF-8")
            .addHeader("x-access-token", "your access token")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Node
        source: "var request = require(\"request\");\n\nvar options = { method: 'GET',\n\
          \  url: 'https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/deposit-transactions',\n\
          \  qs: \n   { accountId: '101011234567',\n     dateFrom: '2018-07-30',\n\
          \     dateTo: '2018-08-01',\n     nextItemKey: '20181012090520123456' },\n\
          \  headers: \n   { 'x-access-token': 'your access token',\n     Accept:\
          \ 'application/json;charset=UTF-8' } };\n\nrequest(options, function (error,\
          \ response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n\
          });\n"
      - lang: Go
        source: |
          package main

          import (
           "fmt"
           "net/http"
           "io/ioutil"
          )

          func main() {

           url := "https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/deposit-transactions?accountId=101011234567&dateFrom=2018-07-30&dateTo=2018-08-01&nextItemKey=20181012090520123456"

           req, _ := http.NewRequest("GET", url, nil)

           req.Header.Add("Accept", "application/json;charset=UTF-8")
           req.Header.Add("x-access-token", "your access token")

           res, _ := http.DefaultClient.Do(req)

           defer res.Body.Close()
           body, _ := ioutil.ReadAll(res.Body)

           fmt.Println(res)
           fmt.Println(string(body))

          }
      - lang: Swift
        source: |
          import Foundation

          let headers = [
            "Accept": "application/json;charset=UTF-8",
            "x-access-token": "your access token"
          ]

          let request = NSMutableURLRequest(url: NSURL(string: "https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/deposit-transactions?accountId=101011234567&dateFrom=2018-07-30&dateTo=2018-08-01&nextItemKey=20181012090520123456")! as URL,
                                                  cachePolicy: .useProtocolCachePolicy,
                                              timeoutInterval: 10.0)
          request.httpMethod = "GET"
          request.allHTTPHeaderFields = headers

          let session = URLSession.shared
          let dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in
            if (error != nil) {
              print(error)
            } else {
              let httpResponse = response as? HTTPURLResponse
              print(httpResponse)
            }
          })

          dataTask.resume()
  /va/list:
    post:
      tags:
      - virtual-account
      summary: 振込入金口座一覧照会
      description: |
        <p>発行済みの振込入金口座の一覧を照会します</p>
        <h4 style='margin-top:30px; border-left: solid 4px #1B2F48; padding: 0.1em 0.5em; color:#1B2F48;'>詳細説明</h4>
        <div style='margin:10px;'>
          <p style='font-weight:bold; color:#616161;'>リクエストボディの振込入金口座IDリスト上限件数</p>
          <p style='padding-left:20px;'>500件</p>
        </div>
        <div style='margin:10px;'>
          <p style='font-weight:bold; color:#616161;'>取得上限件数</p>
          <p style='padding-left:20px;'>500件</p>
          <p style='padding-left:20px;'>取得できる明細数が500に満たないときは取得できる明細のみを返却します</p>
          <p style='padding-left:20px;'>取得できる明細が存在しない場合は「200：OK」とし明細を返却しません</p>
        </div>
        <div style='margin:10px;'>
          <p style='font-weight:bold; color:#616161;'>ページング</p>
          <p style='padding-left:20px;'>2ページ目以降を照会する際は、初回と同じリクエスト内容に、初回レスポンスの次一覧キーを追加してリクエストしてください</p>
        </div>
        <div style='margin:10px;'>
          <p style='font-weight:bold; color:#616161;'>ソート順</p>
          <p style='padding-left:20px;'>発行日時 昇順</p>
        </div>
        <div style='width:600px; margin:10px;'>
          <p style='font-weight:bold; color:#616161;'>クエリパラメーター　最終入金日</p>
          <div style='display:table; margin-left:20px; background-color:#29659b;'>
            <div style='display:table-cell; width:160px; padding:9px; border:1px solid #fff; color:#fff;'>日本語名</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9312;</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9313;</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9314;</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9315;</div>
          </div>
          <div style='display:table; margin-left:20px;'>
            <div style='display:table-cell; width:160px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>最終入金日From</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
          </div>
          <div style='display:table; margin-left:20px;'>
            <div style='display:table-cell; width:160px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>最終入金日To</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
          </div>
        </div>
        <div style='margin:10px;'>
          <ul>
            <li style='list-style-type:none;'>&#9312;の場合　絞りこみ条件なし</li>
            <li style='list-style-type:none;'>&#9313;の場合　最終入金日From　～　当日までの振込入金口座情報を返却</li>
            <li style='list-style-type:none;'>&#9314;の場合　最も過去となる最終入金日　～　最終入金日Toまでの振込入金口座情報を返却</li>
            <li style='list-style-type:none;'>&#9315;の場合　最終入金日From　～　最終入金日Toまでの振込入金口座情報を返却</li>
          </ul>
        </div>
        <div style='width:600px; margin:10px;'>
          <p style='font-weight:bold; color:#616161;'>クエリパラメーター　振込入金口座発行日</p>
          <div style='display:table; margin-left:20px; background-color:#29659b;'>
            <div style='display:table-cell; width:160px; padding:9px; border:1px solid #fff; color:#fff;'>日本語名</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9312;</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9313;</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9314;</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9315;</div>
          </div>
          <div style='display:table; margin-left:20px;'>
            <div style='display:table-cell; width:160px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>振込入金口座発行日From</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
          </div>
          <div style='display:table; margin-left:20px;'>
            <div style='display:table-cell; width:160px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>振込入金口座発行日To</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
          </div>
        </div>
        <div style='margin:10px;'>
          <ul>
            <li style='list-style-type:none;'>&#9312;の場合　絞りこみ条件なし</li>
            <li style='list-style-type:none;'>&#9313;の場合　振込入金口座発行日From　～　当日までの振込入金口座情報を返却</li>
            <li style='list-style-type:none;'>&#9314;の場合　最も過去となる口座発行日　～　振込入金口座発行日Toまでの振込入金口座情報を返却</li>
            <li style='list-style-type:none;'>&#9315;の場合　振込入金口座発行日From　～　振込入金口座発行日Toまでの振込入金口座情報を返却</li>
          </ul>
        </div>
        <div style='width:600px; margin:10px;'>
          <p style='font-weight:bold; color:#616161;'>クエリパラメーター　有効期限</p>
          <div style='display:table; margin-left:20px; background-color:#29659b;'>
            <div style='display:table-cell; width:160px; padding:9px; border:1px solid #fff; color:#fff;'>日本語名</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9312;</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9313;</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9314;</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9315;</div>
          </div>
          <div style='display:table; margin-left:20px;'>
            <div style='display:table-cell; width:160px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>有効期限From</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
          </div>
          <div style='display:table; margin-left:20px;'>
            <div style='display:table-cell; width:160px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>有効期限To</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
          </div>
        </div>
        <div style='margin:10px;'>
          <ul>
            <li style='list-style-type:none;'>&#9312;の場合　絞りこみ条件なし</li>
            <li style='list-style-type:none;'>&#9313;の場合　有効期限From以上の振込入金口座情報を返却</li>
            <li style='list-style-type:none;'>&#9314;の場合　最も過去となる有効期限　～　有効期限Toまでの振込入金口座情報を返却</li>
            <li style='list-style-type:none;'>&#9315;の場合　有効期限From　～　有効期限Toまでの振込入金口座情報を返却</li>
          </ul>
        </div>
        <div style='width:600px; margin:10px;'>
          <p style='font-weight:bold; color:#616161;'>クエリパラメーター　入金口座ID、　振込入金口座IDの設定別の仕様</p>
          <div style='display:table; margin-left:20px; background-color:#29659b;'>
            <div style='display:table-cell; width:160px; padding:9px; border:1px solid #fff; color:#fff;'>日本語名</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9312;</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9313;</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9314;</div>
          </div>
          <div style='display:table; margin-left:20px;'>
            <div style='display:table-cell; width:160px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>入金口座ID</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
          </div>
          <div style='display:table; margin-left:20px;'>
            <div style='display:table-cell; width:160px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>振込入金口座ID</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
            <div style='display:table-cell; width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○</div>
          </div>
        </div>
        <div style='margin:10px;'>
          <ul>
            <li style='list-style-type:none;'>&#9312;の場合　入金口座IDに該当する振込入金口座情報を返却</li>
            <li style='list-style-type:none;'>&#9313;の場合　振込入金口座IDに該当する振込入金口座情報を返却</li>
            <li style='list-style-type:none;'>&#9314;の場合　振込入金口座IDが入金口座IDに紐付いているか判定を行い、OKであれば入金明細を返却し、NGであればエラーを返却します</li>
          </ul>
        </div>
        <div style='margin:10px;'>
          <p style='font-weight:bold; color:#616161;'>振込入金口座API認証情報</p>
          <p style='padding-left:20px;'>提携企業契約時は必須で、この値が設定されていない場合、銀行契約の一覧照会を返却します</p>
        </div>
      operationId: vaListUsingPOST
      parameters:
      - name: x-access-token
        in: header
        description: |
          アクセストークン

          minLength: 1
          maxLength: 128
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-exportParamName: XAccessToken
        x-exportParamName: XAccessToken
      requestBody:
        description: HTTPリクエストボディ
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/VaListRequest'
        required: false
        x-exportParamName: Body
      responses:
        "200":
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/VaListResponse'
        "400":
          description: Bad Request
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not found
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "405":
          description: Method Not Allowed
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "406":
          description: Not Acceptable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "411":
          description: Length Required
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "412":
          description: Precondition Failed
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "415":
          description: Unsupported media type
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "503":
          description: Service Unavailable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "504":
          description: Gateway Timeout
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
      x-code-samples:
      - lang: cURL
        source: |
          curl -X POST \
            https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/list \
            -H 'Content-Type: application/json' \
            -H 'accept: application/json;charset=UTF-8' \
            -H 'x-access-token: your access token' \
            -d '{ "vaContractAuthKey": "5CSDFG1515A54DF", "vaTypeCode": "1", "depositAmountExistCode": "1", "vaHolderNameKana": "ｼﾞ-ｴﾑｵ-ｱｵｿﾞﾗ(ｶ)ﾃｽﾄﾆﾕｳｷﾝｸﾞﾁ", "vaStatusCodeList": [ { "vaStatusCode": "1" } ], "latestDepositDateFrom": "2018-08-10", "latestDepositDateTo": "2018-08-10", "vaIssueDateFrom": "2018-07-31", "vaIssueDateTo": "2018-08-01", "expireDateFrom": "2018-08-31", "expireDateTo": "2018-09-01", "raId": "101011234567", "nextItemKey": "AABA0515651", "sortItemCode": "2", "sortOrderCode": "2", "vaIdList": [ { "vaId": "5021099622" } ]}'
      - lang: Ruby
        source: |
          require 'uri'
          require 'net/http'

          url = URI("https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/list")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Post.new(url)
          request["accept"] = 'application/json;charset=UTF-8'
          request["Content-Type"] = 'application/json'
          request["x-access-token"] = 'your access token'
          request.body = "{ \"vaContractAuthKey\": \"5CSDFG1515A54DF\", \"vaTypeCode\": \"1\", \"depositAmountExistCode\": \"1\", \"vaHolderNameKana\": \"ｼﾞ-ｴﾑｵ-ｱｵｿﾞﾗ(ｶ)ﾃｽﾄﾆﾕｳｷﾝｸﾞﾁ\", \"vaStatusCodeList\": [ { \"vaStatusCode\": \"1\" } ], \"latestDepositDateFrom\": \"2018-08-10\", \"latestDepositDateTo\": \"2018-08-10\", \"vaIssueDateFrom\": \"2018-07-31\", \"vaIssueDateTo\": \"2018-08-01\", \"expireDateFrom\": \"2018-08-31\", \"expireDateTo\": \"2018-09-01\", \"raId\": \"101011234567\", \"nextItemKey\": \"AABA0515651\", \"sortItemCode\": \"2\", \"sortOrderCode\": \"2\", \"vaIdList\": [ { \"vaId\": \"5021099622\" } ]}"

          response = http.request(request)
          puts response.read_body
      - lang: Python
        source: |
          import http.client

          conn = http.client.HTTPConnection("api,gmo-aozora,com")

          payload = "{ \"vaContractAuthKey\": \"5CSDFG1515A54DF\", \"vaTypeCode\": \"1\", \"depositAmountExistCode\": \"1\", \"vaHolderNameKana\": \"ｼﾞ-ｴﾑｵ-ｱｵｿﾞﾗ(ｶ)ﾃｽﾄﾆﾕｳｷﾝｸﾞﾁ\", \"vaStatusCodeList\": [ { \"vaStatusCode\": \"1\" } ], \"latestDepositDateFrom\": \"2018-08-10\", \"latestDepositDateTo\": \"2018-08-10\", \"vaIssueDateFrom\": \"2018-07-31\", \"vaIssueDateTo\": \"2018-08-01\", \"expireDateFrom\": \"2018-08-31\", \"expireDateTo\": \"2018-09-01\", \"raId\": \"101011234567\", \"nextItemKey\": \"AABA0515651\", \"sortItemCode\": \"2\", \"sortOrderCode\": \"2\", \"vaIdList\": [ { \"vaId\": \"5021099622\" } ]}"

          headers = {
              'accept': "application/json;charset=UTF-8",
              'Content-Type': "application/json",
              'x-access-token': "your access token"
              }

          conn.request("POST", "ganb/api/simulator/corporation/v1/va/list", payload, headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
            CURLOPT_URL => "https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/list",
            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "POST",
            CURLOPT_POSTFIELDS => "{ \"vaContractAuthKey\": \"5CSDFG1515A54DF\", \"vaTypeCode\": \"1\", \"depositAmountExistCode\": \"1\", \"vaHolderNameKana\": \"ｼﾞ-ｴﾑｵ-ｱｵｿﾞﾗ(ｶ)ﾃｽﾄﾆﾕｳｷﾝｸﾞﾁ\", \"vaStatusCodeList\": [ { \"vaStatusCode\": \"1\" } ], \"latestDepositDateFrom\": \"2018-08-10\", \"latestDepositDateTo\": \"2018-08-10\", \"vaIssueDateFrom\": \"2018-07-31\", \"vaIssueDateTo\": \"2018-08-01\", \"expireDateFrom\": \"2018-08-31\", \"expireDateTo\": \"2018-09-01\", \"raId\": \"101011234567\", \"nextItemKey\": \"AABA0515651\", \"sortItemCode\": \"2\", \"sortOrderCode\": \"2\", \"vaIdList\": [ { \"vaId\": \"5021099622\" } ]}",
            CURLOPT_HTTPHEADER => array(
              "Content-Type: application/json",
              "accept: application/json;charset=UTF-8",
              "x-access-token: your access token"
            ),
          ));

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Java
        source: |
          OkHttpClient client = new OkHttpClient();

          MediaType mediaType = MediaType.parse("application/json");
          RequestBody body = RequestBody.create(mediaType, "{ \"vaContractAuthKey\": \"5CSDFG1515A54DF\", \"vaTypeCode\": \"1\", \"depositAmountExistCode\": \"1\", \"vaHolderNameKana\": \"ｼﾞ-ｴﾑｵ-ｱｵｿﾞﾗ(ｶ)ﾃｽﾄﾆﾕｳｷﾝｸﾞﾁ\", \"vaStatusCodeList\": [ { \"vaStatusCode\": \"1\" } ], \"latestDepositDateFrom\": \"2018-08-10\", \"latestDepositDateTo\": \"2018-08-10\", \"vaIssueDateFrom\": \"2018-07-31\", \"vaIssueDateTo\": \"2018-08-01\", \"expireDateFrom\": \"2018-08-31\", \"expireDateTo\": \"2018-09-01\", \"raId\": \"101011234567\", \"nextItemKey\": \"AABA0515651\", \"sortItemCode\": \"2\", \"sortOrderCode\": \"2\", \"vaIdList\": [ { \"vaId\": \"5021099622\" } ]}");
          Request request = new Request.Builder()
            .url("https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/list")
            .post(body)
            .addHeader("accept", "application/json;charset=UTF-8")
            .addHeader("Content-Type", "application/json")
            .addHeader("x-access-token", "your access token")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Node
        source: "var request = require(\"request\");\n\nvar options = { method: 'POST',\n\
          \  url: 'https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/list',\n\
          \  headers: \n   { 'x-access-token': 'your access token',\n     'Content-Type':\
          \ 'application/json',\n     accept: 'application/json;charset=UTF-8' },\n\
          \  body: \n   { vaContractAuthKey: '5CSDFG1515A54DF',\n     vaTypeCode:\
          \ '1',\n     depositAmountExistCode: '1',\n     vaHolderNameKana: 'ｼﾞ-ｴﾑ\
          ｵ-ｱｵｿﾞﾗ(ｶ)ﾃｽﾄﾆﾕｳｷﾝｸﾞﾁ',\n     vaStatusCodeList: [ { vaStatusCode: '1' }\
          \ ],\n     latestDepositDateFrom: '2018-08-10',\n     latestDepositDateTo:\
          \ '2018-08-10',\n     vaIssueDateFrom: '2018-07-31',\n     vaIssueDateTo:\
          \ '2018-08-01',\n     expireDateFrom: '2018-08-31',\n     expireDateTo:\
          \ '2018-09-01',\n     raId: '101011234567',\n     nextItemKey: 'AABA0515651',\n\
          \     sortItemCode: '2',\n     sortOrderCode: '2',\n     vaIdList: [ { vaId:\
          \ '5021099622' } ] },\n  json: true };\n\nrequest(options, function (error,\
          \ response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n\
          });\n"
      - lang: Go
        source: |
          package main

          import (
           "fmt"
           "strings"
           "net/http"
           "io/ioutil"
          )

          func main() {

           url := "https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/list"

           payload := strings.NewReader("{ \"vaContractAuthKey\": \"5CSDFG1515A54DF\", \"vaTypeCode\": \"1\", \"depositAmountExistCode\": \"1\", \"vaHolderNameKana\": \"ｼﾞ-ｴﾑｵ-ｱｵｿﾞﾗ(ｶ)ﾃｽﾄﾆﾕｳｷﾝｸﾞﾁ\", \"vaStatusCodeList\": [ { \"vaStatusCode\": \"1\" } ], \"latestDepositDateFrom\": \"2018-08-10\", \"latestDepositDateTo\": \"2018-08-10\", \"vaIssueDateFrom\": \"2018-07-31\", \"vaIssueDateTo\": \"2018-08-01\", \"expireDateFrom\": \"2018-08-31\", \"expireDateTo\": \"2018-09-01\", \"raId\": \"101011234567\", \"nextItemKey\": \"AABA0515651\", \"sortItemCode\": \"2\", \"sortOrderCode\": \"2\", \"vaIdList\": [ { \"vaId\": \"5021099622\" } ]}")

           req, _ := http.NewRequest("POST", url, payload)

           req.Header.Add("accept", "application/json;charset=UTF-8")
           req.Header.Add("Content-Type", "application/json")
           req.Header.Add("x-access-token", "your access token")

           res, _ := http.DefaultClient.Do(req)

           defer res.Body.Close()
           body, _ := ioutil.ReadAll(res.Body)

           fmt.Println(res)
           fmt.Println(string(body))

          }
      - lang: Swift
        source: |-
          import Foundation

          let headers = [
            "accept": "application/json;charset=UTF-8",
            "Content-Type": "application/json",
            "x-access-token": "your access token"
          ]
          let parameters = [
            "vaContractAuthKey": "5CSDFG1515A54DF",
            "vaTypeCode": "1",
            "depositAmountExistCode": "1",
            "vaHolderNameKana": "ｼﾞ-ｴﾑｵ-ｱｵｿﾞﾗ(ｶ)ﾃｽﾄﾆﾕｳｷﾝｸﾞﾁ",
            "vaStatusCodeList": [["vaStatusCode": "1"]],
            "latestDepositDateFrom": "2018-08-10",
            "latestDepositDateTo": "2018-08-10",
            "vaIssueDateFrom": "2018-07-31",
            "vaIssueDateTo": "2018-08-01",
            "expireDateFrom": "2018-08-31",
            "expireDateTo": "2018-09-01",
            "raId": "101011234567",
            "nextItemKey": "AABA0515651",
            "sortItemCode": "2",
            "sortOrderCode": "2",
            "vaIdList": [["vaId": "5021099622"]]
          ] as [String : Any]

          let postData = JSONSerialization.data(withJSONObject: parameters, options: [])

          let request = NSMutableURLRequest(url: NSURL(string: "https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/list")! as URL,
                                                  cachePolicy: .useProtocolCachePolicy,
                                              timeoutInterval: 10.0)
          request.httpMethod = "POST"
          request.allHTTPHeaderFields = headers
          request.httpBody = postData as Data

          let session = URLSession.shared
          let dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in
            if (error != nil) {
              print(error)
            } else {
              let httpResponse = response as? HTTPURLResponse
              print(httpResponse)
            }
          })

          dataTask.resume()
      x-codegen-request-body-name: body
  /va/deposit-transactions:
    get:
      tags:
      - virtual-account
      summary: 振込入金口座入金明細照会
      description: "<p>振込入金口座の入金明細を照会します</p>\n<h4 style='margin-top:30px; border-left:\
        \ solid 4px #1B2F48; padding: 0.1em 0.5em; color:#1B2F48;'>詳細説明</h4>\n<div\
        \ style='margin:10px;'>\n  <p style='font-weight:bold; color:#616161;'>取得上\
        限件数</p>\n  <p style='padding-left:20px;'>500件</p>\n  <p style='padding-left:20px;'>取\
        得できる明細数が500に満たないときは取得できる明細のみを返却します</p>\n  <p style='padding-left:20px;'>取得\
        できる明細が存在しない場合は「200：OK」とし明細を返却しません</p>\n</div>\n<div style='margin:10px;'>\n\
        \  <p style='font-weight:bold; color:#616161;'>ページング</p>\n  <p style='padding-left:20px;'>2ペ\
        ージ目以降を照会する際は、初回と同じリクエスト内容に、初回レスポンスの次明細キーを追加してリクエストしてください</p>\n</div>\n<div\
        \ style='margin:10px;'>\n  <p style='font-weight:bold; color:#616161;'>ソート\
        順</p>\n  <p style='padding-left:20px;'>取引の昇順</p>\n  <p style='padding-left:20px;'>ソ\
        ート順コードを指定することにより、ソート順を変更できます</p>\n</div>\n<div style='width:600px; margin:10px;'>\n\
        \  <p style='font-weight:bold; color:#616161;'>対象期間</p>\n  <div style='display:table;\
        \ margin-left:20px; background-color:#29659b;'>\n    <div style='display:table-cell;\
        \ width:160px; padding:9px; border:1px solid #fff; color:#fff;'>日本語名</div>\n\
        \    <div style='display:table-cell; width:80px; padding:9px; border:1px solid\
        \ #fff; text-align:center; font-size:120%; color:#fff;'>&#9312;</div>\n  \
        \  <div style='display:table-cell; width:80px; padding:9px; border:1px solid\
        \ #fff; text-align:center; font-size:120%; color:#fff;'>&#9313;</div>\n  \
        \  <div style='display:table-cell; width:80px; padding:9px; border:1px solid\
        \ #fff; text-align:center; font-size:120%; color:#fff;'>&#9314;</div>\n  \
        \  <div style='display:table-cell; width:80px; padding:9px; border:1px solid\
        \ #fff; text-align:center; font-size:120%; color:#fff;'>&#9315;</div>\n  </div>\n\
        \  <div style='display:table; margin-left:20px;'>\n    <div style='display:table-cell;\
        \ width:160px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>対\
        象期間From</div>\n    <div style='display:table-cell; width:80px; padding:9px;\
        \ border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○\
        </div>\n  </div>\n  <div style='display:table; margin-left:20px;'>\n    <div\
        \ style='display:table-cell; width:160px; padding:9px; border:1px solid #fff;\
        \ color:#fff; background-color:#29659b;'>対象期間To</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>×</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>×</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>○</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>○</div>\n  </div>\n</div>\n<div style='margin:10px;'>\n\
        \  <ul>\n    <li style='list-style-type:none;'>&#9312;の場合　当日分の入金明細を返却</li>\n\
        \    <li style='list-style-type:none;'>&#9313;の場合　対象期間From(※1)　～　当日までの入金明細\
        を返却</li>\n    <li style='list-style-type:none;'>&#9314;の場合　取引初回(※2)　～　対象期間\
        To(※1)までの入金明細を返却</li>\n    <li style='list-style-type:none;'>&#9315;の場合　対象\
        期間From(※1)　～　対象期間To(※1)までの入金明細を返却</li>\n    <li style='list-style-type:none;\
        \ margin-left:10px;'>※1 : 照会する日付より6ヶ月以内の日付とし、超過する日付の場合は「400　Bad Request」を返\
        却</li>\n    <li style='list-style-type:none; margin-left:10px;'>※2 : 照会する日\
        付より6ヶ月以内の取引とし、それを超えた範囲は返却しません</li> \n  </ul>\n</div>\n<div style='width:600px;\
        \ margin:10px;'>\n  <p style='font-weight:bold; color:#616161;'>入金口座ID、振込入\
        金口座の設定別の仕様</p>\n  <div style='display:table; margin-left:20px; background-color:#29659b;'>\n\
        \    <div style='display:table-cell; width:160px; padding:9px; border:1px\
        \ solid #fff; color:#fff;'>日本語名</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%;\
        \ color:#fff;'>&#9312;</div>\n    <div style='display:table-cell; width:80px;\
        \ padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9313;</div>\n\
        \    <div style='display:table-cell; width:80px; padding:9px; border:1px solid\
        \ #fff; text-align:center; font-size:120%; color:#fff;'>&#9314;</div>\n  </div>\n\
        \  <div style='display:table; margin-left:20px;'>\n    <div style='display:table-cell;\
        \ width:160px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>入\
        金口座ID</div>\n    <div style='display:table-cell; width:80px; padding:9px;\
        \ border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○\
        </div>\n  </div>\n  <div style='display:table; margin-left:20px;'>\n    <div\
        \ style='display:table-cell; width:160px; padding:9px; border:1px solid #fff;\
        \ color:#fff; background-color:#29659b;'>振込入金口座ID</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>×</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>○</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>○</div>\n  </div>\n</div>\n<div style='margin:10px;'>\n\
        \  <ul>\n    <li style='list-style-type:none;'>&#9312;の場合　入金口座IDに該当する入金明細を\
        返却します</li>\n    <li style='list-style-type:none;'>&#9313;の場合　振込入金口座IDに該当する\
        入金明細を返却します</li>\n    <li style='list-style-type:none;'>&#9314;の場合　振込入金口座IDが\
        入金口座IDに紐付いているか判定を行い、OKであれば入金明細を返却し、NGであればエラーを返却します</li>\n  </ul>\n</div> <div\
        \ style='margin-bottom:40px;' />\n"
      operationId: depositTransactionsUsingGET
      parameters:
      - name: vaContractAuthKey
        in: query
        description: |
          振込入金口座API認証情報
          半角英数字
          銀行契約の方はNULLを設定
          提携企業の方が、契約された顧客の入金明細照会を依頼される場合は必須
          提携企業以外の方が値を設定されている場合は「400 Bad Request」を返却

          minLength: 1
          maxLength: 400
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: string
          x-exportParamName: VaContractAuthKey
          x-optionalDataType: String
        example: 5CSDFG1515A54DF
        x-exportParamName: VaContractAuthKey
        x-optionalDataType: String
      - name: raId
        in: query
        description: |
          入金口座ID
          半角数字
          入金先の口座を識別するID
          本値が設定されていない場合、振込入金口座IDは必須
          科目コードが以下の口座IDのみ受け付けます
          ・01=普通預金（有利息）
          ・02=普通預金（決済用）

          minLength: 12
          maxLength: 29
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: string
          x-exportParamName: RaId
          x-optionalDataType: String
        example: "101011234567"
        x-exportParamName: RaId
        x-optionalDataType: String
      - name: vaId
        in: query
        description: |
          振込入金口座ID
          半角数字
          振込入金口座を識別するID
          本値が設定されていない場合、入金口座IDは必須

          minLength: 10
          maxLength: 10
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: string
          x-exportParamName: VaId
          x-optionalDataType: String
        example: "5021099622"
        x-exportParamName: VaId
        x-optionalDataType: String
      - name: dateFrom
        in: query
        description: |
          対象期間From
          半角文字
          YYYY-MM-DD形式
          指定する場合は照会する日付より6ヶ月以内の日付とし、超えた場合は「400 Bad Request」を返却

          minLength: 10
          maxLength: 10
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: string
          x-exportParamName: DateFrom
          x-optionalDataType: String
        example: 2018-08-01
        x-exportParamName: DateFrom
        x-optionalDataType: String
      - name: dateTo
        in: query
        description: |
          対象期間To
          半角文字
          YYYY-MM-DD形式
          指定する場合は照会する日付より6ヶ月以内の日付とし、超えた場合は「400 Bad Request」を返却
          対象期間Fromと対象期間Toを指定する場合は、対象期間From≦対象期間Toとし、それ以外は「400 Bad Request」を返却

          minLength: 10
          maxLength: 10
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: string
          x-exportParamName: DateTo
          x-optionalDataType: String
        example: 2018-08-02
        x-exportParamName: DateTo
        x-optionalDataType: String
      - name: sortOrderCode
        in: query
        description: |
          ソート順コード
          半角数字
          取引日のソート順を指定するコード値
          ・1=昇順
          ・2=降順

          minLength: 1
          maxLength: 1
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: string
          x-exportParamName: SortOrderCode
          x-optionalDataType: String
        example: "2"
        x-exportParamName: SortOrderCode
        x-optionalDataType: String
      - name: nextItemKey
        in: query
        description: |
          次明細キー
          半角数字
          初回要求時は未設定
          初回応答で次明細キーが「true」の場合、返却された同項目を2回目以降に設定

          minLength: 1
          maxLength: 24
        required: false
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: string
          x-exportParamName: NextItemKey
          x-optionalDataType: String
        example: "20181012090520112541"
        x-exportParamName: NextItemKey
        x-optionalDataType: String
      - name: x-access-token
        in: header
        description: |
          アクセストークン

          minLength: 1
          maxLength: 128
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-exportParamName: XAccessToken
        x-exportParamName: XAccessToken
      responses:
        "200":
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/VaDepositTransactionsResponse'
        "400":
          description: Bad Request
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not found
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "405":
          description: Method Not Allowed
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "406":
          description: Not Acceptable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "411":
          description: Length Required
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "412":
          description: Precondition Failed
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "415":
          description: Unsupported media type
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "503":
          description: Service Unavailable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "504":
          description: Gateway Timeout
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
      x-code-samples:
      - lang: cURL
        source: |
          curl -X GET \
            'https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/deposit-transactions?raId=101011000330&dateFrom=2018-07-30&dateTo=2018-12-31&sortOrderCode=1' \
            -H 'accept: application/json;charset=UTF-8' \
            -H 'x-access-token: your access token'
      - lang: Ruby
        source: |
          require 'uri'
          require 'net/http'

          url = URI("https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/deposit-transactions?raId=101011000330&dateFrom=2018-07-30&dateTo=2018-12-31&sortOrderCode=1")

          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE

          request = Net::HTTP::Get.new(url)
          request["x-access-token"] = 'your access token'
          request["accept"] = 'application/json;charset=UTF-8'

          response = http.request(request)
          puts response.read_body
      - lang: Python
        source: |
          import http.client

          conn = http.client.HTTPSConnection("api.gmo-aozora.com")

          headers = {
              'x-access-token': "your access token",
              'accept': "application/json;charset=UTF-8"
              }

          conn.request("GET", "/ganb/api/simulator/corporation/v1/va/deposit-transactions?raId=101011000330&dateFrom=2018-07-30&dateTo=2018-12-31&sortOrderCode=1", headers=headers)

          res = conn.getresponse()
          data = res.read()

          print(data.decode("utf-8"))
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
            CURLOPT_URL => "https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/deposit-transactions?raId=101011000330&dateFrom=2018-07-30&dateTo=2018-12-31&sortOrderCode=1",
            CURLOPT_RETURNTRANSFER => true,
            CURLOPT_ENCODING => "",
            CURLOPT_MAXREDIRS => 10,
            CURLOPT_TIMEOUT => 30,
            CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
            CURLOPT_CUSTOMREQUEST => "GET",
            CURLOPT_HTTPHEADER => array(
              "accept: application/json;charset=UTF-8",
              "x-access-token: your access token"
            ),
          ));

          $response = curl_exec($curl);
          $err = curl_error($curl);

          curl_close($curl);

          if ($err) {
            echo "cURL Error #:" . $err;
          } else {
            echo $response;
          }
      - lang: Java
        source: |
          OkHttpClient client = new OkHttpClient();

          Request request = new Request.Builder()
            .url("https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/deposit-transactions?raId=101011000330&dateFrom=2018-07-30&dateTo=2018-12-31&sortOrderCode=1")
            .get()
            .addHeader("x-access-token", "your access token")
            .addHeader("accept", "application/json;charset=UTF-8")
            .build();

          Response response = client.newCall(request).execute();
      - lang: Node
        source: "var request = require(\"request\");\n\nvar options = { method: 'GET',\n\
          \  url: 'https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/deposit-transactions',\n\
          \  qs: \n   { raId: '101011000330',\n     dateFrom: '2018-07-30',\n    \
          \ dateTo: '2018-12-31',\n     sortOrderCode: '1' },\n  headers: \n   { accept:\
          \ 'application/json;charset=UTF-8',\n     'x-access-token': 'your access\
          \ token' } };\n\nrequest(options, function (error, response, body) {\n \
          \ if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Go
        source: |
          package main

          import (
            "fmt"
            "net/http"
            "io/ioutil"
          )

          func main() {

            url := "https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/deposit-transactions?raId=101011000330&dateFrom=2018-07-30&dateTo=2018-12-31&sortOrderCode=1"

            req, _ := http.NewRequest("GET", url, nil)

            req.Header.Add("x-access-token", "your access token")
            req.Header.Add("accept", "application/json;charset=UTF-8")

            res, _ := http.DefaultClient.Do(req)

            defer res.Body.Close()
            body, _ := ioutil.ReadAll(res.Body)

            fmt.Println(res)
            fmt.Println(string(body))

          }
      - lang: Swift
        source: |
          import Foundation

          let headers = [
            "x-access-token": "your access token",
            "accept": "application/json;charset=UTF-8"
          ]

          let request = NSMutableURLRequest(url: NSURL(string: "https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/deposit-transactions?raId=101011000330&dateFrom=2018-07-30&dateTo=2018-12-31&sortOrderCode=1")! as URL,
                                                  cachePolicy: .useProtocolCachePolicy,
                                              timeoutInterval: 10.0)
          request.httpMethod = "GET"
          request.allHTTPHeaderFields = headers

          let session = URLSession.shared
          let dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in
            if (error != nil) {
              print(error)
            } else {
              let httpResponse = response as? HTTPURLResponse
              print(httpResponse)
            }
          })

          dataTask.resume()
  /va/issue:
    post:
      tags:
[...]
